/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Faire les definition css en suivant les noeuds html ()*/
/*----------  Reset ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /* link's underline */
  list-style: none;
  font-family: "Poppins";
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
}

/*----------  Form card  ----------*/

.form {
  max-width: 430px;
  width: 100%;
  padding: 30px; /* augmentation*/
  border-radius: 6px;
  background: white;
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

form {
  margin-top: 30px;
}

/* 1 row */
form .field {
  height: 45px;
  width: 100%;
  margin-top: 20px;
}

/* Champs */
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none; /* sans bordure */
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

/* Champs */
.field input {
  padding: 0 15px;
  border: 1px solid #cacaca;
}

.form-link {
  background-color: red;
  text-align: center; /* centrer le text */
  margin-top: 10px;
}

/* 2 elements targeted */
.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
}
